.val{
    color:white;
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 10px;
}

.container{
    background-color: #303030;
    justify-content: space-between;
    display: flex;
    height: 24px;
    flex-direction:row;
}